<header>
  <!-- Top bar -->
  <div class="top-bar">
    <div class="logo">
      <img src="assets/LogoPortalClientes.png" alt="Allianz" />
    </div>
    <div class="iconosRedes">
      <img src="assets/redesSociales/whatsapp_logo2.png" class="img" alt="Whatsapp" />
      <img src="assets/redesSociales/youtube-logo.png" class="img" alt="YouTube" />
      <img src="assets/redesSociales/linkedin-logo.png" class="img" alt="Linkedin" />
      <img src="assets/redesSociales/tw-logo.png" class="img" alt="Twitter" />
      <img src="assets/redesSociales/fb-logo.png" class="img" alt="Facebook" />
      <img src="assets/redesSociales/logoInsta.png" class="img" alt="Instagram" />
      <img src="assets/redesSociales/mail-logo.png" class="img" alt="Mail" />
    </div>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar class="menu-toolbar">
        <div class="menu-links">

          <!-- Siniestro con submenú -->
          <button mat-button [matMenuTriggerFor]="menuSiniestro" class="menu-item">
            <i class="fa fa-exclamation-triangle"></i> <span>Siniestro</span>
          </button>
          <mat-menu #menuSiniestro="matMenu">
            <button mat-menu-item>
              <i class="fa fa-check-circle"></i> <span>Estatus</span>
            </button>
            <button mat-menu-item>
              <i class="fa fa-edit"></i> <span>Reportar Siniestro</span>
            </button>
          </mat-menu>

          <!-- Pagos con submenú -->
          <button mat-button [matMenuTriggerFor]="menuPagos" class="menu-item">
            <i class="fa fa-usd"></i> <span>Pagos</span>
          </button>
          <mat-menu #menuPagos="matMenu">
            <button mat-menu-item>
              <i class="fa fa-money"></i> <span>Pagar ahora</span>
            </button>
            <button mat-menu-item>
              <i class="fa fa-exchange"></i> <span>Cambiar conducto de cobro</span>
            </button>
            <button mat-menu-item>
              <i class="fa fa-calendar-plus-o"></i> <span>Programar Pagos</span>
            </button>
            <button mat-menu-item>
              <i class="fa fa-calendar"></i> <span>Próximos Pagos</span>
            </button>
          </mat-menu>

          <!-- Otros sin submenú -->
          <button mat-button class="menu-item">
            <i class="fa fa-list-alt"></i> <span>Resumen</span>
          </button>
          <button mat-button class="menu-item">
            <i class="fa fa-users"></i> <span>Pensiones</span>
          </button>
          <button mat-button class="menu-item">
            <i class="fa fa-calendar-check-o"></i> <span>Vigencias</span>
          </button>
          <button mat-button class="menu-item">
            <i class="fa fa-files-o"></i> <span>Trámites</span>
          </button>
          <button mat-button class="menu-item">
            <i class="fa fa-file-pdf-o"></i> <span>Constancias</span>
          </button>
          <button mat-button class="menu-item">
            <i class="fa fa-inbox"></i> <span>Quejas</span>
          </button>
          <button mat-button class="menu-item salir">
            <i class="fa fa-sign-out"></i> <span>Salir</span>
          </button>

        </div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>



  <!-- Info -->
  <div class="info-shower">
    <span class="boton-configuracion-movil">
      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
    </span>
    <div class="info-shower-content">
      <div class="user-image"></div>
      <div class="user-info">
        <p class="user-p">Bienvenido</p>
        <p class="user-name">MAURICIO HUESCA RODRIGUEZ</p>
        <div class="info-extra">
          <p class="user-p">Cliente Allianz desde 01/09/2014</p>
          <p class="user-p">Actualizado al: <strong>9/4/2025</strong></p>
        </div>
      </div>
    </div>
  </div>

  <app-polizas></app-polizas>
</header>