<div class="donut-wrapper">
    <h2 class="text-xl font-semibold flex items-center gap-2">
        <i class="fas fa-file-alt text-gray-600"></i>
        Mis Pólizas ({{ polizasFiltradas.length }})
    </h2>

    <div *ngIf="selectedFamilia" class="flex justify-end">
        <button *ngIf="selectedFamilia" class="btn-limpiar" (click)="limpiarFiltro()">
            <i class="fas fa-square text-red-500 mr-1"></i> Limpiar Filtro
        </button>
    </div>
    <div class="contenedor-principal">
        <div class="dona-container">
            <svg height="100%" width="100%" viewBox="0 0 400 400" id="donutSvg">
                <!-- Sectores de colores -->
                <path *ngFor="let s of sectores" [attr.d]="generarPath(s.angInicio, s.angFin)"
                    [attr.fill]="getColorForFamily(s.familia)"
                    [ngClass]="{'hoverable': filtroDisponible(s.familia), 'activo': selectedFamilia === s.familia }"
                    (click)="filtroDisponible(s.familia) && seleccionarProducto(s.familia)">
                </path>

                <!-- Imagen encima -->
                <image href="/assets/dona-seis-2021-01.png" x="0" y="0" height="400px" width="400px"
                    style="pointer-events: none;" />
            </svg>
        </div>

        <div class="polizas-wrapper">
            <div *ngFor="let poliza of polizasFiltradas" class="poliza-card"
                [style.background-color]="getColorForFamily(poliza.producto.toLowerCase())">
                <div class="poliza-codigo">{{ poliza.codigo }}</div>
                <div class="poliza-producto">{{ poliza.producto }}</div>
                <div class="poliza-saldo">
                    {{ poliza.saldo | currency:'USD':'symbol-narrow':'1.2-2' }}
                </div>
            </div>
        </div>
    </div>
</div>