<div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">Próximos pagos</h2>
      <button mat-icon-button (click)="cerrar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div class="modal-content">
      <ng-container *ngIf="proximosPagos.length; else noPolizas">
        <table class="poliza-table">
          <thead>
            <tr>
              <th>Fecha de vencimiento</th>
              <th>Monto a pagar</th>
              <th>Póliza</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of proximosPagos">
              <td>{{ p.fechaVencimiento}}</td>
              <td>{{ p.importeAPagar }}</td>
              <td>{{ p.producto }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
  
      <ng-template #noPolizas>
        <p style="padding: 16px;">No hay pólizas para mostrar.</p>
      </ng-template>
    </div>
  </div>
  